* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 85%;
    height: 100%;
    margin: auto;
}


.row {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
    font-family: "Poppins",sans-serif;
    color: #2e004b;
}

/* Start of nav with section1  */


nav {
    height: 100px;
    border-bottom: solid 1px white;    
    z-index: 99999;
    width: 100%;   
}

nav .logo {
    width: 10%;
}

nav .list {
    width: 50%;
}

nav .list ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav .list ul a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

nav .list li {
    list-style: none;
    font-size: 24px;
    font-weight: 600;
}

nav .list li .fa-angle-down {
    font-size: 14px;
    transition: .5s;
}

nav .list li:hover .fa-angle-down {
    transform: translate(2px, 7px);
}

nav .content {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .content .login a,
nav .content .number .background a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

nav .content .login .title,
nav .content .number .background .num {
    margin-left: 10px;
}

nav .list .item {
    position: relative;
}

nav .list .dropdown {
    position: absolute;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 37px;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    padding: 12px 10px;
}

nav .list .dropdown li {
    font-size: 20px;
}
nav .list .dropdown a{
    color: #000;
}

nav .list .item:hover .dropdown {
    opacity: 1;
    visibility: visible;
}
nav .content .number .background{
    width: 250px;
    background-color: #fdae5c;
    padding: 20px 30px;
    border-radius: 40px;
    display: flex;
    transition: .5s;
}
nav .content .number .background a{
    margin: auto;
}
nav .content .number .background:hover{
    background-color: transparent;
    border: solid 1px #fdae5c;
}
nav .content .number .background:hover a{
    color: #fdae5c;
}

header {
    background-image: url(../img/2.webp);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

nav .list .dropdown li {
    padding-bottom: 10px;
    width: 100%;
}
nav .list .dropdown li:hover {
    background-color: #fdae5c;
}
.section1 .container{
    width: 70%;
}
.section1 .header-content {
    width: 40%;
    margin: auto;
}

.section1 .header-content h1 {
    color: #fff;
    font-size: 70px;
    font-weight: normal;
}

.section1 .header-content .header-btn {
    margin-top: 60px;
    width: 250px;
    background-color: #04d2c8;
    padding: 20px 30px;
    border-radius: 40px;
    display: flex;
    transition: .5s;
}

.section1 .header-content .header-btn a {
    text-decoration: none;
    margin: auto;
    color: white;
    font-size: 18px;
}

.section1 .header-content .header-btn:hover {
    background-color: transparent;
    border: solid 1px #04d2c8;
}

.section1 .header-content .header-btn:hover a {
    color: #04d2c8;
}

/* End of nav with section1  */


/* Start with section2 */
.section2{
    height: 80vh;
}
.section2 .container{
    width: 70%;
}
.section2 .div1{
    width: 50%;
}
.section2 .div1 .content{
    width: 80%;
    margin: auto;
}

.section2 .div2{
    width: 40%;
    height: 100%;
    position: relative;
}


.section2 .div1 h2 {
    font-size: 48px;
}
.section2 .div1 p{
    color: #727272;
    margin-top: 15px;
    word-spacing: 5px;
    line-height: 1.5;

}

.section2 .div1 .button {
    margin-top: 50px;
    width: 250px;
    background-color: #04d2c8;
    padding: 20px 30px;
    border-radius: 40px;
    display: flex;
    transition: .5s;
}
.section2 .div1 .button a {
    margin: auto;
    color: white;
}
.section2 .div1 .button:hover {
    background-color: transparent;
    border: solid 1px #04d2c8;
}
.section2 .div1 .button:hover a{
    color: #04d2c8;
}

.section2 .div2 .circ1 ,.section2 .div2 .circ2 ,.section2 .div2 .circ3{
    display: flex;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}
.section2 .div2 .circ1{
    background: rgba(93	,178	,255, 0.7);
    top: 30%;
    left: 40%;

}
.section2 .div2 .circ2{
    background: rgba(253	,142,	94 , .7);
    top: 35%;
    left: 5%;
    width: 300px;
    height: 300px;
}
.section2 .div2 .circ3{
    background: rgba(	4,	210	,200, .7);
    top: 55%;
    left: 20%; 
}
.section2 .div2 .circ1 p,.section2 .div2 .circ2 p,.section2 .div2 .circ3 p ,.section2 .div2 .circ1 h3,.section2 .div2 .circ2 h3,.section2 .div2 .circ3 h3{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

/* End of section2 */


